    /* BODY*/
*
**::before,
*::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, sans-serif;
    margin: 0px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}



.image{
    text-align: center;
}
      
        /* HEADER*/


header{
    padding: 1rem 2rem;
}

.menu{
        display: flex;
        justify-content: right;
}
.menu ul li{
    margin-left: 1rem;
    display: inline-block;
}
.menu a{
    color: rgb(63, 62, 62);
}
.link:hover{
    text-decoration: underline ;
}

.google-account{
    background-color: purple;
    padding: 8px 10px 8px 10px;
    border-radius: 100%;
    color: white;
}
.dotted img{
    width: 20px;
    margin: 7px;
    
}
.dotted{
    display: inline-flex;
    border: none;
    background-color: transparent;
    
}
.dotted:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 65%;
}

        /********MAIN*******/

.search-button{
    display: flex;
    margin-top: 10px;
    width: 40%;
    height: 20%;
    justify-items: center;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 20px;
    gap: 10px;
    margin-inline: auto;
    padding: 10px 15px;
    background-color: transparent;
    box-shadow: none;
}
.search-button button{
    border: none;
    background-color: transparent;
}
.search-button input{
    height: 100%;
    width: 80%;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
}
.search-button:hover{
    box-shadow: 2px 2px 6px 3px #e6e3e3;
    border: none;
}
.search-button img{
    width: 15px;
    height: auto;
}

.search-mic:hover{
    cursor: pointer;
}

.search-cam{
    cursor: pointer;
}

.search-tag{
    display: block;
    gap: 5%;
    text-align: center;
    margin-top: 30px;
    padding: 10px;   
}
.search-tag button{
    color: rgb(63, 62, 62);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: whitesmoke;
}
.search-tag button:hover{
    border: 1px solid #e6e3e3;
}

.language {
    margin-top: 10px;
    text-align: center;
    font-size: 15px
}
.language ul li{
    padding-inline: 3px;
    display: inline-flex;
}
.language a{
    gap: 5px;
}
.language a:hover{
    text-decoration: underline;
}

        /****FOOTER*****/

footer{
    background-color: #f2f2f2;
    width: 100%;
    position: fixed;
    top: 83%;
}

.top{
    padding: 15px 30px;
    font-size: 15px;
    color: rgb(63, 62, 62);
    border-bottom: 1px solid rgb(230, 226, 226);
}

.about li{
    display: inline-flex;
}
.about a{
    text-decoration: none;
    color: rgb(63, 62, 62);
    justify-content: left;
    padding-inline: 5px;
}
.about a:hover{
    text-decoration: underline;
}

.terms{
    padding-right: 50px;
    display: flex;
    gap: 10px;
}

.pricay li{
    display: inline-flex;
}
.privacy a{
    text-decoration: none;
    color: rgb(63, 62, 62);
    justify-content: end;
}
.privacy a:hover{
    text-decoration: underline;
}

.images {
    display: flex;
    justify-content: center;
    margin: 18px 0px;
}
.images img{
    width: 20px;
    height: 15px;
    background-color: transparent;
}
.images a{ 
   text-decoration: none;
   color: rgb(63, 62, 62);
}
.images a:hover{
    text-decoration: underline;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
